# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Trace and temp files
.trace_session_cache

# JSON files (only if they are generated)
*.json

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/

# Logs
*.log
